<div class="title-container">
  <h1>Check your score</h1>
</div>

<div class="form-container">
  <p><%= @score.total %></p>
  <p>Hello, <%= @score.user.name %>.  <%= @score.description %></p>
</div>

