.title-container {
  margin-top: 2em;
  margin-left: 2em;
}

.devise-links {
  margin-top: 2em;
}

.text-container {
  padding-top: 1em;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 4em;
}
