<div class="title-container">
  <h1>Edit a user score</h1>
</div>

<div class="text-container">
  <%= simple_form_for @score do |f| %>
    <%= f.input :total, label: "Total score" %>
    <%= f.button :submit, class: "marble-button" %>
  <% end %>
</div>