<div class="edit-score">
  <div class="title-container">
    <h1>Edit a user score</h1>
  </div>

  <div class="form-container">
    <%= simple_form_for @score do |f| %>
      <%= f.input :total, label: "Total score", collection: 0..100 %>
      <%= f.button :submit, "Generate PDF", class: "marble-button" %>
    <% end %>
  </div>
</div>