<div class="title-container">
  <h1>User scores</h1>
  <p>You can check and update the list above.</p>
</div>

<div class="text-container">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
        <% @scores.each do |score| %>
          <tr>
            <th scope="row"><%= score.user.id %></th>
            <td><%= score.user.name %></td>
            <td><%= score.user.email %></td>
            <td><%= score.total %></td>
          </tr>
        <% end %>
     </tbody>
  </table>
</div>