<div class="row ml-0 mr-0">
  <div class="col-12 pl-0 pr-0">
    <div class="main-banner">
      <h1>Fix your customer churn</h1>
      <p>With Marble you can create customer training and onboarding experiences.</p>
      <button class="marble-button">Check your score</button>
    </div>
  </div>
</div>