.navbar-marble {
  justify-content: space-between;
  align-items: center;
  background: $dark-blue;
  padding-left: 2em;
}

.navbar-marble .navbar-collapse {
  flex-grow: 0;
}

.navbar-marble .navbar-brand img {
  width: 100px;
}

.nav-link {
  text-align: right;
}
